body {
    background: #8e0e00; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1f1c18, #8e0e00);
    background: linear-gradient(to right, #1f1c18, #8e0e00);
    color: tan;
    text-align: center;
  }
  h1 {
    font-size: 50px;
  }
  #font {
    color: mintcream;
  }
  a {
    color: mintcream;
  }
  
  img { 
    border-radius: 20%;
  }
.card img{
    display: inline-block;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }
  .card{
    width: 300px;
    height: 220px;
    border: 1px solid black;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
